@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700&display=swap");

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --coral:#FF6B6B;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #e23232;
}

[data-theme="dark"] {
  --white: #ffffff;
  --black: #111;
  --grey: #888;
  --darkgrey: #1b1b1b;
}

[data-theme="light"] {
  --white: #111;
  --black: #F9F9F9;
  --grey: #6E6E6E;
  --darkgrey:#F0F0F0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,span {
  color: var(--white);
}

::selection {
  background-color: var(--coral);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--coral);
  border-radius: 10px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  text-decoration: none;
  color: var(--white) !important;
}
